@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{
  /* ## Colors*/

  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);

/* ### Neutral */

--grayishBlue: hsl(233, 8%, 62%);
--lightGrayishBlue: hsl(220, 16%, 96%);
--veryLightGray: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);



}




body{
  /* ## Typography */
  /* ### Body Copy */
  
  font-size: calc(18/16*1rem);
  font-family: 'Public Sans', sans-serif;
}

h1{
  font-size:33px;
}


